@page
@model HospiEnCasa.App.Frontend.Pages.DetailPacientesModel
@{
    ViewData["Title"] = "Det. Paciente";
}

<head>
    <link rel="stylesheet" href="~/css/formStyle.css">
</head>

<body>
    <h1>DETALLES PACIENTE</h1>
    <form action="" class="formulario" method="get">
        <label for="idPaciente" class="formulario__label">Id del Paciente:</label>
        <input class="formulario__input" type="text" id="idPaciente" required pattern="[0-9]{1,10}"
            title="Ingrese números. No se permite otro tipo de carácteres." placeholder="123456789" name="idPaciente"
            asp-for="IdPaciente">
        <input type="submit" value="Consultar" class="formulario__btn">
    </form>
    @if (Model.paciente != null)
    {
        <table>
              <tr>
                <th>Nombre:</th>
                <th>Apellidos:</th>
                <th>Género:</th>
                <th>Teléfono:</th>
                <th>Fecha de Nacimiento:</th>
                <th>Dirección:</th>
                <th>Ciudad:</th>
                <th>Latitud:</th>
                <th>Longitud:</th>
                <th>Opciones:</th>
            </tr>
            <tr>
                <td>@Model.paciente.Nombre</td>
                <td>@Model.paciente.Apellidos</td>
                <td>@Model.paciente.Genero</td>
                <td>@Model.paciente.NumeroTelefono</td>
                <td>@Model.paciente.FechaNacimiento.ToShortDateString()</td>
                <td>@Model.paciente.Direccion</td>
                <td>@Model.paciente.Ciudad</td>
                <td>@Model.paciente.Latitud</td>
                <td>@Model.paciente.Longitud</td>
                <td><a href="/formularios/RegFamiliares?id=@Model.paciente.Nombre">Actualizar</a></td>
            </tr>  
        </table>
    }
</body>