@page
@model HospiEnCasa.App.Frontend.Pages.ListMedicosModel
@{
    ViewData["Title"] = "Lista Medicos";
}

<head>
    <link rel="stylesheet" href="~/css/formStyle.css">
</head>
<main>
    <h1>LISTA DE MÉDICOS</h1>
    <form class="formulario">
        <div class="form-col-4">
            <label for="event" class="formulario__label">Ordenar por: </label>
        </div>
        <div class="form-col-8" class="formulario__input">
            <select id="event" required>
                <option value="">Elija una opcion</option>
                <option value="E1">Orden A-Z</option>
                <option value="E2">Orden Z-A</option>
                <option value="E4">Todos</option>
            </select>
    </form>
    </div>
</main>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Especialidad</th>
            <th>Opciones</th>
        </tr>
        @foreach (var medico in Model.Medicos)
        {
            <tr>
                <td>@medico.Id</td>
                <td>@medico.Nombre</td>
                <td>@medico.Apellidos</td>
                <td>@medico.NumeroTelefono</td>
                <td>@medico.Especialidad</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@medico.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@medico.">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@medico.Id">Borrar</a>|
                    <a href="/formularios/ListPacientes?id=@medico.Id">Pacientes</a>

                </td>
            </tr>
        }

    </table>
</div>