@page
@model HospiEnCasa.App.Frontend.Pages.ListPacientesModel
@{
    ViewData["Title"] = "Lista Pacientes";
}

<head>
    <link rel="stylesheet" href="~/css/formStyle.css">
</head>
<body>
    <h1>LISTA DE PACIENTES</h1>

    <form action="" class="formulario" method="get">
        <label for="idPaciente" class="formulario__label">Buscar por Id:</label>
        <input class="formulario__input" type="text" id="idPaciente" required pattern="[0-9]{1,10}"
            title="Ingrese números. No se permite otro tipo de carácteres." placeholder="123456789"
            name="idPaciente"  asp-for="IdPaciente">
        <input type="submit" value="Buscar" class="formulario__btn">
    </form>
<div>
    @if (Model.Pacientes.Count() == 0)
    {
        <script>alert('No existen pacientes relacionados.')</script>
       
    }
    else
    {
        <table>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Género</th>
                <th>Telefono</th>
                <th>Fecha de Nacimiento</th>
                <th>Dirección</th>
                <th>Opciones</th>
            </tr>
            @foreach (var paciente in Model.Pacientes)
            {
                string genero;
                switch ((int)@paciente.Genero)
                {
                    case 0:
                        genero = "Masculino";
                        break;
                    case 1:
                        genero = "Femenino";
                        break;
                    default:
                        genero = "otro";
                        break;

                }
                <tr>
                    <td>@paciente.Id</td>
                    <td>@paciente.Nombre</td>
                    <td>@paciente.Apellidos</td>
                    <td>@genero</td>
                    <td>@paciente.NumeroTelefono</td>
                    <td>@paciente.FechaNacimiento</td>
                    <td>@paciente.Direccion</td>
                    <td style="text-align: center;"><a href="/formularios/DetailPacientes?idPaciente=@paciente.Id">Detalle</a>
                    <br><a href="/formularios/ConsultarHistoria?idPaciente=@paciente.Id">Historia Clínica</a></td>

                </tr>
            }

        </table>
    }

</div>
</body>